In [11]:
import pandas as pd

In [12]:
f = pd.read_csv('student-mat.csv')
print(f.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [13]:
f = f[f['age']<17]
print(f.head())

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
2     GP   F   15       U     LE3       T     1     1   at_home     other
3     GP   F   15       U     GT3       T     4     2    health  services
4     GP   F   16       U     GT3       T     3     3     other     other
5     GP   M   16       U     LE3       T     4     3  services     other
6     GP   M   16       U     LE3       T     2     2     other     other

   ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
2  ...      4        3      2     2     3      3       10   7   8  10
3  ...      3        2      2     1     1      5        2  15  14  15
4  ...      4        3      2     1     2      5        4   6  10  10
5  ...      5        4      2     1     2      5       10  15  15  15
6  ...      4        4      4     1     1      3        0  12  12  11

[5 rows x 33 columns]

In [16]:
f['sex'] = f['sex'].apply(lambda x:1 if x=='F' else 0)
print(f.head())

  school  sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
2     GP    1   15       U     LE3       T     1     1   at_home     other
3     GP    1   15       U     GT3       T     4     2    health  services
4     GP    1   16       U     GT3       T     3     3     other     other
5     GP    0   16       U     LE3       T     4     3  services     other
6     GP    0   16       U     LE3       T     2     2     other     other

   ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
2  ...      4        3      2     2     3      3       10   7   8  10
3  ...      3        2      2     1     1      5        2  15  14  15
4  ...      4        3      2     1     2      5        4   6  10  10
5  ...      5        4      2     1     2      5       10  15  15  15
6  ...      4        4      4     1     1      3        0  12  12  11

[5 rows x 33 columns]

In [17]:
f.to_csv('new_student-mat.csv', index=False)